body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    /* background-image: url(./../image/snake.png); */
    background-size: 80px;
    background-repeat: repeat;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightblue;
    background-image: url(./../image/bg.jpeg);
    background-size: 512px;
    height: 512px;
    width: 512px;
}

.start-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    background: blue;
    cursor: pointer;
    font-size: 2rem;
}

.button:hover{
    background: rgb(46, 31, 253);
}

.button:active{
    background: darkblue;
}

.buttons{
    display: flex;
    flex-flow: column wrap;
    margin-top: 50px;
}

.start-screen .button , .high-scores .button{
    font-size: 1.5rem;
    margin: 4px 0;
    padding: 9px 50px;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.game{
    display: none;
    text-align: center;
    font-size: 1.4em;
    background-color: lightblue;
    flex-direction: column;
    text-align: end;
    border: black 2px solid;
}

.popup{
    position: absolute;
    background-color: #00000060;
    border-radius: 30px;
    padding: 30px 50px;
    display: none;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
}

.popup-title{
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
}

.game .top-score{
    padding: 3px 12px;    
}

.popup-button{
    margin-top: 15px;
    font-size: 1.5rem;
}

.start-screen-title{
    color: rgba(30, 30, 149, 0.601);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 3.2em;
    font-weight: bold;
    margin: 18px 0px 75px
}

.high-scores{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    /* border: black 1px solid; */
}

.scores {
    width: 400px;
}

.scores li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: black 1px solid;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.top i {
    cursor: pointer;
}

i .fa-volume-mute{
    display: none;
}
