body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    background-image: url(./../image/snake.png);
    background-size: 80px;
    background-repeat: repeat;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightblue;
    height: 512px;
    width: 512px;
}

.tela-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.botao{
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    background: blue;
    cursor: pointer;
    font-size: 2rem;
}

.botao:hover{
    background: rgb(46, 31, 253);
}

.botao:active{
    background: darkblue;
}

.botoes{
    display: flex;
    flex-flow: column wrap;
    margin-top: 50px;
}

.tela-inicial .botao , .tela-pontuacao .botao{
    font-size: 1.5rem;
    margin: 4px 0;
    padding: 9px 50px;
    width: 100%;
}

.jogo{
    display: none;
    text-align: center;
    font-size: 1.4em;
    background-color: lightblue;
    flex-direction: column;
    text-align: end;
    border: black 2px solid;
}

.pop-up{
    position: absolute;
    background-color: #00000060;
    border-radius: 30px;
    padding: 30px 50px;
    display: none;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
}

.pop-up-titulo{
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
}

.jogo .pontuacao-topo{
    padding: 3px 12px;    
}

.pop-up-botao{
    margin-top: 15px;
    font-size: 1.5rem;
}

.tela-inicial-t1{
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0;
}

.tela-pontuacao{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    /* border: black 1px solid; */
}
.pontuacoes {
    width: 400px;
}
.pontuacoes li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: black 1px solid;
}

.topo{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.topo i {
    cursor: pointer;
}